<div class>
  <section class="tile" fullscreen="isFullscreen01">
    <md-content class="md-padding buttondemoBasicUsage">
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button class="md-raised md-primary" ng-href="#/app/wypozyczenia/new">Wypożycz samochód istniejącemu klientowi</md-button>
      </section>
    </md-content>
  </section>
</div>
<div class>
  <section class="tile" fullscreen="isFullscreen01">
    <md-content class="md-padding buttondemoBasicUsage">
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button class="md-raised md-primary" ng-href="#/app/wypozyczenia/new">Wypożycz samochód nowemu klientowi</md-button>
      </section>
    </md-content>
  </section>
</div>
