<div class="page page-ubezpieczenia">
  <div class="pagecontent">
    <section class="tile" fullscreen="isFullscreen06">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Dodaj</strong> przegląd do samochodu {{samochod.marka.nazwaMarki}} {{samochod.model.nazwaModelu}}</h1>
        <ul class="controls">
          <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

            <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
              <li>
                <a href tile-control-toggle>
                  <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                  <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                </a>
              </li>
              <li>
                <a href tile-control-refresh ng-click="ajaxFaker()">
                  <fa name="refresh"></fa> Refresh
                </a>
              </li>
              <li>
                <a href tile-control-fullscreen ng-click="isFullscreen04 = !isFullscreen04">
                  <fa name="expand"></fa> Fullscreen
                </a>
              </li>

            </ul>

          </li>
          <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
        </ul>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body" ng-controller="PrzegladyCtrl">



        <form name="przeglad" class="create-form" role="form" ng-submit="przeglady.createPrzeglad(przeglady.newPrzeglad)">

          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label">Data przegladu</label>
            <div class="col-sm-10">
              <div class="tile-body" ng-controller="DatepickerDemoCtrl">
                <!-- row -->
                <div class="row">
                  <!-- col -->
                  <div class="col-md-6">
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="przeglady.newPrzeglad.dataPrzegladu" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Zamknij" />
                      <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label">Data następnego przeglądu</label>
            <div class="col-sm-10">
              <div class="tile-body" ng-controller="DatepickerDemoCtrl">
                <!-- row -->
                <div class="row">
                  <!-- col -->
                  <div class="col-md-6">
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="przeglady.newPrzeglad.dataNastepnegoPrzegladu" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Zamknij" />
                      <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label">Przebieg</label>
            <div class="col-sm-10">
              <input type="text" name="przebieg" ng-pattern="/^[0-9]/" class="form-control underline-input" ng-model="przeglady.newPrzeglad.przebieg" placeholder="Wpisz aktualny przebieg">
              <div ng-messages="przeglad.przebieg.$error">
                <p ng-message="pattern">Błąd. Tylko liczby!</p>
              </div>
            </div>
          </div>

          <hr class="line-dashed line-full"/>

          <button type="submit" class="btn btn-primary" ng-disabled="przeglad.$invalid">Dodaj przegląd</button>
        </form>
      </div>
    </section>
  </div>
</div>

