
<div class="page page-dashboard">

  <div class="pageheader" ng-controller="KlienciCtrl">
<h3>CRS - Car Rental System</h3>

    <span>{{klientdash.klient.id}}</span>

  </div>

  <!-- cards row -->
  <div class="row">

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">

      <!--<div class="card">-->
        <!--<div class="front bg-greensea">-->

          <!--&lt;!&ndash; row &ndash;&gt;-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<i class="fa fa-users fa-4x"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-8">-->
              <!--<p class="text-elg text-strong mb-0"></p>-->
              <!--<span>Klienci</span>-->
              <!--{{klientdash.klient.id}}-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
          <!--</div>-->
          <!-- /row -->

        </div>
        <!--<div class="back bg-greensea">-->

          <!--&lt;!&ndash; row &ndash;&gt;-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
          <!--</div>-->
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <!--<div class="card-container col-lg-3 col-sm-6 col-sm-12">-->
      <!--<div class="card">-->
        <!--<div class="front bg-lightred">-->

          <!--&lt;!&ndash; row &ndash;&gt;-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<i class="fa fa-shopping-cart fa-4x"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-8">-->
              <!--<p class="text-elg text-strong mb-0">19 364</p>-->
              <!--<span>New Orders</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /row &ndash;&gt;-->

        <!--</div>-->
        <!--<div class="back bg-lightred">-->

          <!--&lt;!&ndash; row &ndash;&gt;-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /row &ndash;&gt;-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /col &ndash;&gt;-->

    <!--&lt;!&ndash; col &ndash;&gt;-->
    <!--<div class="card-container col-lg-3 col-sm-6 col-sm-12">-->
      <!--<div class="card">-->
        <!--<div class="front bg-blue">-->

          <!--&lt;!&ndash; row &ndash;&gt;-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<i class="fa fa-usd fa-4x"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-8">-->
              <!--<p class="text-elg text-strong mb-0">165 984</p>-->
              <!--<span>Sales</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /row &ndash;&gt;-->

        <!--</div>-->
        <!--<div class="back bg-blue">-->

          <!--&lt;!&ndash; row &ndash;&gt;-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /row &ndash;&gt;-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /col &ndash;&gt;-->

    <!--&lt;!&ndash; col &ndash;&gt;-->
    <!--<div class="card-container col-lg-3 col-sm-6 col-sm-12">-->
      <!--<div class="card">-->
        <!--<div class="front bg-slategray">-->

          <!--&lt;!&ndash; row &ndash;&gt;-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<i class="fa fa-eye fa-4x"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-8">-->
              <!--<p class="text-elg text-strong mb-0">29 651</p>-->
              <!--<span>Visits</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /row &ndash;&gt;-->

        <!--</div>-->
        <!--<div class="back bg-slategray">-->

          <!--&lt;!&ndash; row &ndash;&gt;-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-xs-4">-->
              <!--<a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /row &ndash;&gt;-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /col &ndash;&gt;-->

  </div>
  <!-- /row -->






  <!-- row -->
  <div class="row">



    <!-- col -->
    <!--<div class="col-md-8">-->

      <!--&lt;!&ndash; tile &ndash;&gt;-->
      <!--<section class="tile" fullscreen="isFullscreen01">-->

        <!--&lt;!&ndash; tile header &ndash;&gt;-->

        <!--&lt;!&ndash; /tile header &ndash;&gt;-->

        <!--&lt;!&ndash; tile widget &ndash;&gt;-->

        <!--&lt;!&ndash; /tile widget &ndash;&gt;-->

        <!--&lt;!&ndash; tile body &ndash;&gt;-->
        <!--<div class="tile-body" ng-controller="ActualStatisticsCtrl">-->

          <!--&lt;!&ndash; row &ndash;&gt;-->

          <!--&lt;!&ndash; /row &ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash; /tile body &ndash;&gt;-->

      <!--</section>-->
      <!--&lt;!&ndash; /tile &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /col &ndash;&gt;-->



    <!--&lt;!&ndash; col &ndash;&gt;-->

    <!--&lt;!&ndash; /col &ndash;&gt;-->


  <!--</div>-->
  <!--&lt;!&ndash; /row &ndash;&gt;-->


  <!--&lt;!&ndash; row &ndash;&gt;-->

  <!--&lt;!&ndash; /row &ndash;&gt;-->


  <!--&lt;!&ndash; row &ndash;&gt;-->

  <!--&lt;!&ndash; /row &ndash;&gt;-->

  <!--&lt;!&ndash; row &ndash;&gt;-->
  <!--<div class="row">-->
    <!--&lt;!&ndash; col &ndash;&gt;-->

    <!--<div class="col-md-4">-->
      <!--&lt;!&ndash; tile &ndash;&gt;-->
      <!--<section class="tile bg-greensea widget-appointments" fullscreen="isFullscreen10" ng-controller="AppointmentsWidgetCtrl">-->

        <!--&lt;!&ndash; tile header &ndash;&gt;-->
        <!--<div class="tile-header dvd dvd-btm">-->
          <!--<h1 class="custom-font"></h1>-->
          <!--<ul class="controls">-->
            <!--<li class="dropdown" uib-dropdown on-toggle="toggled(open)">-->

              <!--<a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>-->

              <!--<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">-->
                <!--<li>-->
                  <!--<a href tile-control-toggle>-->
                    <!--<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>-->
                    <!--<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href tile-control-refresh ng-click="ajaxFaker()">-->
                    <!--<fa name="refresh"></fa> Refresh-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href tile-control-fullscreen ng-click="isFullscreen10 = !isFullscreen10">-->
                    <!--<fa name="expand"></fa> Fullscreen-->
                  <!--</a>-->
                <!--</li>-->

              <!--</ul>-->

            <!--</li>-->
            <!--<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; /tile header &ndash;&gt;-->

        <!--&lt;!&ndash; tile body &ndash;&gt;-->
        <!--<div class="tile-body">-->
          <!--&lt;!&ndash; row &ndash;&gt;-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-md-6 text-center">-->

              <!--<h4 class="text-light">Opole</h4>-->
              <!--<clock radius="60"></clock>-->
              <!--<span class="text-light">-1&deg;C</span>-->

            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
            <!--&lt;!&ndash; col &ndash;&gt;-->
            <!--<div class="col-md-6 b-l text-center">-->
              <!--<span class="day">{{date | date:'dd'}}</span><br/>-->
              <!--<span class="month">{{date | date:'MMMM'}}</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /col &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /row &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /tile body &ndash;&gt;-->

        <!--&lt;!&ndash; tile footer &ndash;&gt;-->
        <!--<div class="tile-footer dvd dvd-top mt-20">-->

          <!--<wrap-owlcarousel class="owl-carousel" data-options="{-->
          <!--autoPlay: 5000,-->
          <!--stopOnHover: true,-->
          <!--slideSpeed : 300,-->
          <!--paginationSpeed : 400,-->
          <!--navigation: true,-->
          <!--navigationText : ['<i class=\'fa fa-chevron-left\'></i>','<i class=\'fa fa-chevron-right\'></i>'],-->
          <!--singleItem : true}">-->

            <!--<div>-->
              <!--<p class="text-center text-strong"><i class="fa fa-car"></i></p>-->
              <!--<p>-->
                <!--<h5 class="mt-10 mb-0 text-strong">CRS - Car Rental System</h5>-->
                <!--<small class="text-thin text-transparent-white"></small>-->
              <!--</p>-->
            <!--</div>-->


          <!--</wrap-owlcarousel>-->

        <!--</div>-->
        <!--&lt;!&ndash; /tile footer &ndash;&gt;-->

      <!--</section>-->
      <!--&lt;!&ndash; /tile &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /col &ndash;&gt;-->

  <!--</div>-->
  <!-- /row -->





</div>
